<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @activity.title %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>
<p>
  <b>Address:</b>
  <%= @activity.address %>
</p>

<p>
  <b>Time:</b>
  <%= @activity.activity_date %>
</p>



